// Place all the styles related to the public/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import '_color.scss';
@import '_flex.scss';
@import '_template.scss';

input[type="text"] {
        width: 300px;
        height: 30px;
}

textarea {
        width: 500px;
        height: 300px;
}


.MainPage {
    @extend %page;
    &__container {
        min-height: 200px;
        width: 90%;
        background-color: $color-white;
        margin: 50px 0;
        padding-top: 50px;
    }
}

.BIndex {
    @extend %row;
    &__sidebar{
        height: 600px;
        width: 200px;
        background-color: $color-white-blue;
        margin: 50px;
        padding: 25px;
    }
    &__thread {
        height: 40px;
    }
    &__tag {
        @extend %tag;
    }
    &__contents {
        width: 80%;
        margin: 50px 0;
    }
    &__action__new {
        margin-right: 100px;
    }
    &__action__announce {
        @extend %tag;
        width: 500px;
    }
    &__heading {
        @extend %row;
        height: 50px;
        color: $color-white;
        background-color: $color-navy-blue;
        margin: 0 50px;
        padding-left: 50px;
        margin-top: 100px;
        &--h2 {
            color: $color-white;
            line-height: 50px;
        }
        &--p {
            color: $color-white;
            line-height: 50px;
        }
    }
    &__ranking__items {
        height: 500px;
        @extend %row;
        justify-content: center;
        margin-top: 20px;
        
    }
    &__ranking__first {
        @extend %center;
        height: 500px;
        width: 40%;
        background-color: $color-navy-blue;
        padding: 50px 0;
        text-align: center;
    }
    &__ranking__other {
        width: 40%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
    }
    &__ranking {
        &--second {
            @extend %center;
            height: 250px;
            width: 50%;
            background-color: $color-blue;
            padding: 20px 0;
        }
        &--third {
            @extend %center;
            height: 250px;
            width: 50%;
            background-color: $color-navy-blue;
            padding: 20px 0;
        }
        &--fourth {
            @extend %center;
            height: 250px;
            width: 50%;
            background-color: $color-white-blue;
            padding: 20px 0;
        }
        &--fifth {
            @extend %center;
            height: 250px;
            width: 50%;
            background-color:  $color-blue;
            padding: 20px 0;
        }
    }
    &__new-lineup {
        @extend %row;
        justify-content: center;
        height: 250px;
        width: 80%;
        background-color: blue;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    &__BookItem {
        @extend %column;
        margin: 50px auto;
    }
    &__NewBook__iamge {}
    &__NewBook__text {
        color: $color-white;
        text-align: center;
    }
    &__recomend {
        @extend %row;
        height: 250px;
        width: 80%;
        background-color: blue;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    &__data {
        color: $color-white;
        text-align: center;
        &--GoodBook {
        color: $color-pastel-red;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        }
    }
}

.BSearch {
    &__heading {
        @extend %heading;
    }
    &__action__new {
        text-align: right;
        text-decoration: none;
        margin: 0 100px 20px 0
    }
    &__contents {
    }
    &__table {
        margin: 0 auto;
    }
    &__thread {
        @extend %thread;
        width: 300px;
        &--category {
            @extend %thread;
            width: 150px;
        }
        &--status {
            @extend %thread;
            width: 150px;
        }
    }
    &__date {
        text-align: center;
    }
    &__btn {
        &--show {
            @extend %btn;
            background-color: $color-pastel-blue;
            margin-left: 20px;
            text-decoration: none !important;
            
        }
    }
    &__paginate {
        @extend %center;
        margin-top: 50px;
    }
}

.BookPage {
    @extend %page;
    &__container {
        @extend %container;
        margin: 50px 0;
    }
}

.BNew {
    &__heading {
        @extend %heading;
    }
    &__form__item {
        margin: 0 auto;
    }
    &__thread {
        height: 40px;
    }
    &__tag {
        height: 30px;
        width: 200px;
        color: $color-white;
        background-color: $color-green;
        display: inline-block;
        margin-right: 20px;
        text-align: center;
        line-height: 30px;
        border-radius: 15px;
    }
    ＆__form__TextBox {
        display: block;
        height: 30px;
        width: 200px;
        maragin-bottom: 10px;
    }
   &__form__btn {
       height: 30px;
       width: 100px;
       color: $color-white;
       background-color: $color-pastel-blue;
       margin-top: 30px;
       border: none;
       border-radius: 15px;
    }
}

.BShow {
    &__action__return {
        text-align: left;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    &__btn__return {
        @extend %btn;
        width: 200px;
        background-color: $color-pastel-blue;
        text-align: center;
    }
    &__heading {
        @extend %heading;
    }
    &__contents {
        @extend %column;
        justify-content: center;
    }
    &__book {
        @extend %row;
        justify-content: center;
    }
    &__status {
        @extend %row;
        justify-content: center;
        margin-top: 10px;
    }
    &__BookGood {
        height: 35px;
        color: $color-pastel-red;
        padding: 5px;
        text-decoration: none !important;
   }
    &__favorite {
        @extend %row;
        display: inline-block;
        height: 30px;
        color: $color-white;
        background-color: $color-pastel-pink;
        margin-left: 20px;
        padding: 5px 10px;
        border-radius: 15px;
        text-decoration: none !important;
            &--none {
                @extend %row;
                display: inline-block;
                height: 30px;
                color: $color-white;
                background-color: $color-pastel-gray;
                padding: 5px 10px;
                margin-left: 20px;
                border-radius: 15px;
                text-decoration: none !important;
            }
        }
    &__violation__book {
        display: inline-block;
        height: 30px;
        color: $color-white;
        background-color: $color-pastel-yellow;
        margin-top: 2px;
        margin-left: 20px;
        padding: 5px;
        border-radius: 15px;
        text-decoration: none;
        &--none {
            color: $color-white;
            background-color: $color-pastel-gray;
            
            margin-left: 20px;
            padding: 5px;
            border-radius: 15px;
        }
    }
    &__BookData {
        margin-left: 20px;
    }
    &__item {
        margin-left: 20px;
    }
    &__thread {
        height: 40px;
        width: 250px;
    }
    &__tag {
        @extend %tag;
        display: inline-block;
    }
    &__introduce {
        height: 400px;
        width: 600px;
        margin-top: 10px;
        border: 1px solid black;
    }
    ＆__form__TextBox {
        display: block;
        height: 30px;
        width: 200px;
        maragin-bottom: 10px;
    }
   &__action {
        height: 40px;
        margin-top: 30px;
        text-align: center;
   }
   &__reviews {
       @extend %column;
       margin-top: 50px;
   }
   &__reviews__form {
       @extend %center;
   }
   &__form__text {
       height: 200px;
       width: 500px;
   }
   &__reviews__comments {
        @extend %center;
        margin-top: 50px;
   }
   &__comments {
       width: 500px;
       height: 200px;
       border: 1px solid black;
       padding: 10px;
   }
   &__btn__delete {
        @extend %btn;
        background-color: $color-pastel-red;
        text-align: center;
   }
   &__paginate {
       @extend %center;
       margin-top: 50px;
   }
   
}

