// Place all the styles related to the public/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import '_color.scss';
@import '_flex.scss';
@import '_template.scss';

input[type="text"] {
        width: 300px;
        height: 30px;
}

textarea {
        width: 500px;
        height: 300px;
}



.books {
    width: 100%;
    @extend %center;
    &__menuBar {
        @extend %row;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;
        margin-left: -340px;
        &__container {
            background-color: $pastel_blue;
            padding: 20px;
            min-height: 2000px;
        }
        &__contents {
            background-color: $white;
            height: 90vh;
            overflow-y: auto;
        }
        &__heading {
            width: 100%;
            background-color: $main_color;
            color: $white;
            text-align: center;
        }
        &__items {
          width: 300px;
          padding-left: 40px;
        }
        &__item {
            margin: 5px 0;
        }
        &__link {
            text-decoration: none !important;
        }
        &__btn {
            display: none;
        }
        &__active {
            display: block;
        }
        &__icon {
            writing-mode: vertical-rl;
            background-color: $pastel_blue;
            color: $white;
            padding: 10px;
            border-radius: 0 10px 10px 0;
            margin-top: 50px;
        }
    }
    &__container {
        width: 100%;
    }
    &__createContents {
        width: 80%;
        @extend %row;
        margin: 100px auto 0;
    }
    &__createText {
        display: inline-block;
        margin: 0 0 0 auto;
        width: 200px;
        height: 30px;
        line-height: 30px;
    }
    &__createBtn {
        display: inline-block;
        @extend %submitBtn;
        background-color: $main_color;
    }
    &__contents {
        @extend %backgroundMain;
        padding: 50px 0;
        margin: 50px auto;
    }
    &__contentsHeader {
        @extend %headerMain;
        margin: 50px auto;
    }
    &__recommend {
        @extend %center;
        width: 90%;
        background-color: white;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    &__recommend__prevBtn {
        z-index: 10;
        position: absolute;
        top: 250px;
        left: 0;
    }
    &__recommendSliderItems {
        @extend %row;
        width: 2500px;
        height: 500px;
        padding: 100px 0;
        margin: 0 auto;
        overflow: hidden;
    }
    &__recommend__nextBtn {
        z-index: 10;
        position: absolute;
        top: 250px;
        right: 0;
    }
    &__recommendBook {
        display: none;
        background-image: image-url("top_mainVisual.jpeg");
        background-size: cover;
        width: 500px;
        height: 300px;
    }
    &__recommendBookLink {
        text-decoration: none !important;
        color: $textColor_main;
    }
    &__recommendBookItems {
        @extend %row;
    }
    &__recommendBookData {
        text-decoration: none !important;
    }
}
.display {
  opacity: 0.5;
  &--center {
    transform: scale(1.25);
    opacity: 1;
  }
}
.contents {
  &__leftOver {
    display: block;
    order: 1;
  }
  &__left {
    display: block;
    order: 2;
  }
  &__center {
    display: block;
    z-index: 10;
    order: 3;
  }
  &__right {
    display: block;
    order: 4;
  }
  &__rightOver {
    display: block;
    order: 5;
  }
}

.leftSlide {
  transform: translateX(500px);
  transition-duration: 0.1s;
}
.rightSlide {
  transform: translateX(-500px);
  transition-duration: 0.1s;
}

.contentsSlider {
    padding: 50px 0;
    &__heading {
        @extend %headerMain;
        width: 90%;
        margin: 0 auto 50px;
    }
}

.contentsRanking {
    padding: 50px 0;
    &__heading {
        @extend %headerMain;
        width: 90%;
        margin: 0 auto 50px;
    }
    &__contents {
        @extend %column;
        width: 90%;
        min-height: 500px;
        background-color: $white;
        padding: 50px 0;
        margin: 0 auto;
    }
    &__books {
        @extend %row;
        flex-wrap: wrap;
        width: 90%;
        padding: 50px 0;
        margin: 0 auto;
    }
     &__bookLink {
        text-decoration: none !important;
        display: inline-block;
        width: 90%;
        margin: 0 auto;
        &--other {
            text-decoration: none !important;
            display: inline-block;
            width: 30%;
            margin: 20px auto;
        }
    }
    &__book {
        @extend %center;
        padding: 50px 0;
        border: 5px solid blue;
        &--other {
            padding: 20px;
            border: 5px solid blue;
        }
    }
    &__bookItems {
        @extend %row;
        margin: 0 auto;
        &--other {
            @extend %row;
        }
    }
    &__bookData {
        margin-left: 30px;
    }
    &__itemText {
        background-color: $main_color;
        color: $white;
        border-radius: 15px;
        text-align: center;
        padding: 0 20px;
        overflow: hidden;
        &--other {
            background-color: $main_color;
            color: $white;
            border-radius: 15px;
            text-align: center;
            padding: 0 20px;
            overflow: hidden;
        }
    }
}

.contentsLineup {
    padding: 50px 0;
    &__heading {
        @extend %headerMain;
        width: 90%;
        margin: 0 auto 50px;
    }
    &__contents {
        @extend %row;
        justify-content: center;
        width: 90%;
        height: 250px;
        margin: 0 auto;
        background-color: $white;
    }
    &__bookItem {
        margin: auto;
        text-align: center;
    }
    &__bookItemText{
        width: 150px;
        height: 30px;
        background-color: $main_color;
        color: $white;
        border-radius: 15px;
        line-height: 30px;
        text-align: center;
        margin-top:10px;
        padding: 0 20px;
        overflow: hidden;
    }
}


.book {
    &__container {
        width: 100%;
    }
    &__btnReturn {
        @extend %submitBtn;
        width: 200px;
        margin: 50px 100px;
    }
    &__heading {
       @extend %headerMain;
        margin: 0 auto;
    }
    &__headingText {
        margin-left: 50px;
    }
    &__contents {
        @extend %backgroundMain;
        width: 90%;
        margin: 0 auto 50px;
        padding: 50px;
    }
    &__items {
        @extend %row;
        justify-content: center;
        background-color: $white;
        padding: 50px 0 20px;
        margin: 0 auto;
    }
    &__image {
        padding: 0 50px;
    }
    &__status {
        @extend %row;
        padding: 20px 5px;
    }
    &__bookGood {
        text-decoration: none !important;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        color: $pastel_red;
        &--none {
            display: inline-block;
            text-decoration: none !important;
            height: 30px;
            line-height: 30px;
        }
    }
    &__favoriteIcon {
        margin: 0 auto;
    }
    &__favorite {
        text-decoration: none !important;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        background-color: $main_color;
        color: $textColor_main;
        padding: 0 10px;
        border-radius: 10px;
        &--none {
            text-decoration: none !important;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 10px;
            color: $bk;
        }
    }
    &__violation {
            background-color: $pastel_red;
            color: $white;
            text-decoration: none !important;
            display: inline-block;
            width: 150px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 10px;
        &--none {
            background-color: $pastel_yellow;
            text-decoration: none !important;
            display: inline-block;
            width: 150px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 10px;
            text-align: center;
        }
    }
    &__introduction {
        @extend %column;
        min-height: 300px;
        background-color: $white;
        padding-bottom: 50px;
    }
    &__introductionTag {
        background-color: $main_color;
        color: $white;
        width: 80%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin: 0 auto;
    }
     &__introductionText {
        width: 80%;
        min-height: 200px;
        margin: 20px auto 0;
        border: 1px solid rgba($bk, 0.5);
    }
    &__reviews {
        @extend %column;
        background-color: $white;
        padding: 50px;
    }
    &__reviewForm {
        @extend %center;
    }
    &__reviewComments {
        @extend %center;
        flex-direction: column;
        width: 100%;
    }
    &__reviewComment {
        border-bottom: 1px solid $bk;
        width: 60%;
        margin: 0 auto;
        padding: 50px;
    }
    &__commentUserInfo {
        @extend %row;
    }
    &__commentUserData {
        height: 60px;
        line-height: 60px;
    }
    &__commentUserImage {
        border-radius: 50%;
    }
    &__commentUserRate {
         height: 60px;
        line-height: 60px;
        margin-left: 20px;
    }
    &__comment {
       min-height: 200px;
       margin-top: 10px;
    }
    &__commentDating {
        text-align: right;
    }
    &__reviewAction {
        @extend %row;
    }
    &__btnDelete {
        @extend %deleteBtn;
    }
    &__violationReview {
         background-color: $pastel_red;
            color: $white;
            text-decoration: none !important;
            display: inline-block;
            width: 100px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 10px;
            text-align: center;
            margin-left: 10px;
            &--none {
                background-color: $pastel_yellow;
                text-decoration: none !important;
                display: inline-block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                border-radius: 10px;
                text-align: center;
                margin-left: 10px;
            }
    }
}


.bookNew {
    &__container {
        margin: 50px 0;
    }
    &__heading {
        @extend %headerMain;
        margin: 0 auto;
    }
    &__contents {
        @extend %backgroundMain;
        min-height: 600px;
        margin: 20px auto 0;
        padding: 50px;
    }
    &__form {
        background-color: $white;
        padding: 50px 0;
    }
    &__formItems {
        margin: 0 auto;
    }
    &__thread {
        height: 40px;
    }
    &__tag {
        height: 30px;
        width: 150px;
        color: $white;
        background-color: $main_color;
        display: inline-block;
        margin-right: 20px;
        text-align: center;
        line-height: 30px;
        border-radius: 10px;
    }
    ＆__form__TextBox {
        display: block;
        height: 30px;
        width: 200px;
        maragin-bottom: 10px;
    }
    &__introductionForm {
        text-align: center;
        padding-top: 20px;
    }
    
    &__formAction {
       text-align: center; 
       padding-top: 50px;
    }
   &__formBtn {
      @extend %submitBtn;

    }
    &__message {
        width: 100px;
        font-size: 5px;
        color: $color-white;
        background-color: $color-pastel-red;
        padding: 5px;
        text-align: center; 
        
    }
}


.MainPage {
    @extend %page;
    &__container {
        min-height: 200px;
        width: 90%;
        background-color: $color-white;
        margin: 50px 0;
        padding-top: 50px;
        position: relative;
    }
}



.BSearch {
    &__heading {
        @extend %heading;
    }
    &__action__new {
        text-align: right;
        text-decoration: none;
        margin: 0 100px 20px 0
    }
    &__contents {
    }
    &__table {
        margin: 0 auto;
    }
    &__thread {
        @extend %thread;
        width: 250px;
        &--category {
            @extend %thread;
            width: 150px;
        }
        &--status {
            @extend %thread;
            width: 150px;
        }
    }
    &__date {
        width: 150px;
        &--name {
            width: 250px;
        }
    }
    &__text {
        width: 150px;
        text-align: center;
        &--name {
            width: 250px;
            text-align: center;
        }
    }
    &__btn {
        &--show {
            @extend %btn;
            background-color: $color-pastel-blue;
            margin-left: 20px;
            text-decoration: none !important;
            text-align: center;
            
        }
    }
    &__paginate {
        @extend %center;
        margin-top: 50px;
    }
}

.BookPage {
    @extend %page;
    &__container {
        @extend %container;
        margin: 50px 0;
    }
}


div.field_with_errors > input{
    border: 3px solid red;
}

.BShow {
    &__action__return {
        text-align: left;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    &__btn__return {
        @extend %btn;
        width: 200px;
        background-color: $color-pastel-blue;
        text-align: center;
    }
    &__heading {
        @extend %heading;
    }
    &__contents {
        @extend %column;
        justify-content: center;
    }
    &__book {
        @extend %row;
        justify-content: center;
    }
    &__status {
        @extend %row;
        justify-content: center;
        margin-top: 10px;
    }
    &__BookGood {
        height: 35px;
        color: $color-pastel-red;
        text-decoration: none !important;
   }
    &__favorite {
        @extend %row;
        display: inline-block;
        height: 30px;
        color: $color-white;
        background-color: $color-pastel-pink;
        margin-left: 20px;
        padding: 5px 10px;
        border-radius: 15px;
        text-decoration: none !important;
            &--none {
                @extend %row;
                display: inline-block;
                height: 30px;
                color: $color-white;
                background-color: $color-pastel-gray;
                padding: 5px 10px;
                margin-left: 20px;
                border-radius: 15px;
                text-decoration: none !important;
            }
        }
    &__violation {
        display: inline-block;
        height: 30px;
        color: $color-white;
        background-color: $color-pastel-yellow;
        margin-top: 2px;
        margin-left: 20px;
        padding: 5px 10px;
        border-radius: 10px;
        text-decoration: none !important;
        &--none {
            color: $color-white;
            background-color: $color-pastel-gray;
            
            margin-left: 20px;
            padding: 5px;
            border-radius: 15px;
        }
    }
    &__BookData {
        margin-left: 20px;
    }
    &__item {
        margin-left: 20px;
    }
    &__thread {
        height: 40px;
        width: 250px;
    }
    &__tag {
        @extend %tag;
        display: inline-block;
    }
    &__introduce {
        min-height: 300px;
        width: 600px;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid black;
    }
    ＆__form__TextBox {
        display: block;
        height: 30px;
        width: 200px;
        maragin-bottom: 10px;
    }
   &__action {
        height: 40px;
        margin-top: 30px;
        text-align: center;
   }
   &__reviews {
       @extend %column;
       margin-top: 50px;
   }
   &__reviews__form {
       @extend %center;
   }
   &__form__text {
       min-height: 200px;
       width: 500px;
   }
   &__reviews__comments {
        @extend %center;
        margin-top: 50px;
   }
   &__comments {
       min-height: 200px;
       width: 500px;
       border: 1px solid black;
       padding: 10px;
   }
   &__review__action {
       @extend %row;
       margin-bottom: 20px;
   }
   &__btn__delete {
        @extend %btn;
        background-color: $color-pastel-red;
        text-align: center;
   }
   &__paginate {
       @extend %center;
       margin-top: 50px;
   }
   
}

