// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import '_color.scss';
@import '_flex.scss';
@import '_template.scss';


.user {
    &__container {
        @extend %column;
    }
    &__actionReturn {
        width: 90%;
        margin: 50px auto 0;
    }
    &__btnReturn {
        @extend %submitBtn;
        width: 200px;
    }
    &__heading {
        @extend %headerMain;
        margin: 50px auto;
    }
    &__contents {
        @extend %backgroundMain;
        width: 90%;
        padding: 50px;
        margin: 0 auto 50px;
    }
    &__infomation {
        background-color: $wt;
        padding: 50px;
    }
    &__profile {
        @extend %row;
        justify-content: center;
    }
    &__data {
        margin-left: 50px;
    }
    &__thread {
        @extend %row;
        padding-bottom: 10px;
    }
    &__dataTag {
        @extend %tag;
    }
    &__introduce {
        min-height: 200px;
        width: 500px;
        border: 1px solid $bk;
        margin-top: 10px;
    }
    &__action {
        @extend %center;
        margin: 30px auto 0;
    }
    &__btnEdit {
        @extend %editBtn;
        margin-right: 10px;
    }
    &__btnStatus {
        @extend %deleteBtn;
    }
    &__tab {
        width: 150px;
        text-decoration:none !important;
        color: $color-white;
        background-color: $color-navy-blue;
        padding: 20px;
        display: inline-block;
        border-radius: 15px 15px 0 0;
        text-align: center;
        &--other {
            width: 150px;
            text-decoration:none !important;
            color: $color-white;
            background-color: $color-dark-blue;
            padding: 20px;
            display: inline-block;
            border-radius: 15px 15px 0 0;
            text-align: center;
        }
    }
}

.userBook {
    width: 100%;
    min-height: 600px;
    background-color: $navy_blue;
    margin: 0 auto;
    @extend %column;
    &__heading {
        @include heading;
        text-align: left;
        margin: 50px auto;
        &__text {
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
        }
    }
    &__pageText {
        color: $textColor_main;
        width: 90%;
        height: 300px;
        line-height: 300px;
        text-align: center;
        margin: 0 auto;
    }
    &__items {
        @extend %row;
        justify-content: center;
        background-color: $main_color;
        width: 90%;
        padding: 30px;
        margin: 20px auto;
    }
    &__dataTable {
        width: 50%;
        margin-left: 30px;
        background-color: $navy_blue;
        padding: 20px;
    }
    &__data {
        @extend %row;
    }
    &__tag {
        color: $textColor_main;
        background-color: $main_color;
        width: 100px;
        height: 20px;
        text-align: center;
    }
    &__text {
        color: $textColor_main;
        width: 300px;
        height: 20px;
        line-height: 20px;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__action {
        margin: 50px 0;
        @extend %center;
    }
    &__linkMore {
        display: inline-block;
        text-decoration: none !important;
        background-color: $wt;
        color: $bk;
        width: 300px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 15px;
    }
}









.follower {
    background-color: $dark_blue;
    width: 100%;
    margin: 0 auto;
    &__heading {
        @include heading;
        text-align: left;
        margin: 50px auto;
        line-height: 50px;
        &__text {
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
        }
    }
    &__pageText {
        color: $textColor_main;
        width: 90%;
        height: 300px;
        line-height: 300px;
        text-align: center;
        margin: 0 auto;
    }
    &__contents {
        margin-bottom: 50px;
    }
    &__user {
        @extend %row;
        width: 90%;
        background-color: $navy_blue;
        margin: 0 auto 30px;
        padding: 30px;
    }
    &__userIcon {
        margin-left: auto;
        padding: 20px;
        &__link{
            display: inline-block;
            margin: 0 auto 10px;
        }
        &__image {
            border-radius: 50%;
        }
    }
    &__userData {
        width: 70%;
        margin-right: auto;
        background-color: $main_color;
        padding: 20px;
        &__name {
            color: $textColor_main;
            margin-bottom: 10px;
            margin-left: 20px;
        }
        &__introduce {
            height: 150px;
            background-color: $wt;
        }
    }
}

.UserPage {
    @extend %page;
    &__container{
        @extend %container;
        margin: 50px 0;
    }
}

.UShowPage {
    @extend %page;
    padding-top: 50px;
    &__container {
        width: 80%;
        background-color: $color-white;
        margin: 50px 0;
        padding-top: 50px;
    }
}

.UShow {
    &__action__return {
        margin-left: 50px;
        margin-bottom: 20px;
    }
    &__btn__return {
        @extend %btn;
        width: 200px;
        background-color: $color-pastel-blue;
        text-align: center;
    }
    &__heading {
        @extend %heading;
    }
    &__contents {
        @extend %row;
        justify-content: center;
    }
    &__UserImage {
        margin-top: 20px;
    }
    &__relationship {
        @extend %center;
    }
    &__favorite {
        @extend %tag;
        background-color: $color-pastel-pink;
        margin-top: 10px;
        &--none {
            @extend %tag;
            background-color: $color-pastel-gray;
            margin-top: 10px;
        }
    }
    &__table {
        margin-top: 20px;
        margin-left: 20px;
    }
    &__tag {
        @extend %tag;
        width: 150px;
        &--book {
            width: 100px;
            text-align: center;
        }
    }
    &__date {
        width: 200px;
        text-align: center;
    }
    &__action {
        @extend %center;
        text-align: center;
        margin-top: 20px;
    }
    &__btn {
        &--edit{
            @extend %btn;
            background-color: $color-pastel-orange;
            text-decoration:none !important;
        }
        &--status {
            @extend %btn;
            background-color: $color-pastel-red;
            margin-left: 10px;
            text-decoration:none !important;
        }
    }
    &__index {
        @extend %column;
    }
    &__introduce {
        height: 300px;
        width: 500px;
        margin-top: 20px;
        padding: 10px;
        border: 1px solid black;
    }
    &__PageTabs {
        margin-top: 100px;
        margin-left: 100px;
    }
    &__tab {
        text-decoration:none !important;
        color: $color-white;
        background-color: $color-navy-blue;
        padding: 20px;
        display: inline-block;
        border-radius: 15px 15px 0 0;
        &--other {
            text-decoration:none !important;
            color: $color-white;
            background-color: $color-dark-blue;
            padding: 20px;
            display: inline-block;
            border-radius: 15px 15px 0 0;
        }
    }
    &__BookFavorites {
        background-color: $color-navy-blue;
        width: 90%;
        margin: 0 auto 50px auto;
        padding: 50px 0;
        &--index {
            background-color: $color-navy-blue;
            width: 90%;
            margin: 50px auto 50px auto;
            padding: 50px 0;
        }
    }
    // &__relationships {
    //     background-color: $color-dark-blue;
    //     width: 90%;
    //     margin: 0 auto 50px auto;
    //     padding: 50px 0;
    //     &--index {
    //         background-color: $color-dark-blue;
    //         width: 90%;
    //         margin: 50px auto 50px auto;
    //         padding: 50px 0;
    //     }
    // }
    // &__page__heading {
    //     width: 80%;
    //     color: $color-white;
    //     background-color: $color-blue;
    //     padding-left: 50px;
    //     margin: 0 auto 50px auto;
    //     &--index {
    //         color: $color-white;
    //         background-color: $color-blue;
    //         padding-left: 50px;
    //         margin: 50px 100px;
    //     }
    // }
    // &__page__contents {
    //     @extend %column;
    //     &--other {
    //         @extend %center;
    //         color: $color-white;
    //         margin: 100px 0;
    //     }
    // }
    // &__favorite-book {
    //     @extend %row;
    //     margin: 0 auto;
    //     width: 80%;
    //     background-color: $color-pastel-blue;
    //     margin-bottom: 50px;
    // }
    // &__book-image {
    //     margin: 20px;
    // }
    // &__book-data {
    //     width: 400px;
    //     margin-top: 20px;
    // }
    // &__paginate {
    //     @extend %center;
    //     margin-top: 50px;
    // }
    // &__link {
    //     @extend %center;
    //     margin-bottom: 50px;
    // }
    // &__link__item {
    //     height: 40px;
    //     width: 200px;
    //     color: black;
    //     background-color: $color-white;
    //     text-align: center;
    //     line-height: 40px;
    //     border-radius: 15px;
    //     text-decoration: none !important;
    // }
}

.UEdit {
    margin-bottom: 50px;
    &__action__return {
        margin-left: 50px;
        margin-bottom: 20px;
    }
    &__btn__return {
        @extend %btn;
        background-color: $color-pastel-blue;
        text-align: center;
    }
    &__heading {
        @extend %heading;
    }
    &__contents {
        @extend %row;
        justify-content: center;
    }
    &__ImageTag {
        @extend %center;
    }
    &__form {
        margin-top: 50px;
        margin-left: 20px;
    }
    &__table {
        margin-top: 20px;
        margin-left: 20px;
    }
    &__tag {
        @extend %tag;
        width: 150px;
    }
    &__date {
        width: 200px;
        text-align: center;
    }
    &__introduce {
        margin-top: 10px;
    }
    &__action {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        margin-left: 120px;
    }
    &__btn {
            @extend %form-btn;
            background-color: $color-pastel-orange;
    }
}

.UStatus {
    &__heading {
        @extend %heading;
    }
    &__table {
        margin: 0 auto;
    }
    &__thread {
        text-align: center;
    }
    &__date {
        text-align: center;
    }
    &__action {
        text-align: center;
        margin-top: 20px;
        @extend %center;
    }
    &__btn {
        &--no {
            @extend %btn;
            background-color: $color-pastel-blue;
        }
        &--yes {
            @extend %btn;
            background-color: $color-pastel-red;
            margin-left: 10px;
        }
    }
}


