- if GoodBook.find_by(user_id: current_user.id, book_id: book.id)
  = link_to book_good_books_path(book, book.good_books), method: :delete, class:"book__bookGood", remote: true do
    %i.fas.fa-heart
  = book.good_books.count
- else
  = link_to book_good_books_path(book, book.good_books), method: :post, class:"book__bookGood--none", remote: true do
    %i.fas.fa-heart
  = book.good_books.count
