<div class="APage">
   <div class="APage__container">
      
      <section class="APage__heading">
         <div class="APage__heading__content">
            
            <div class="APage__heading__image">
               <h1 class="APage__heading__title">
                  ABOUT　＼EE／.Books
               </h1>
            </div>
            <div class="APage__heading__text">
               <p class="APage__heading__sentence">
                  ＼EE／.Booksはあなたにぴったりな１冊を見つけるお手伝いをさせていただくサイトです。</br>
                  好きな本に出会うきっかけになればと思います。
               </p>
            </div>
         </div>
      </section>
      
      <section class="APage__topic">
         <div class="APage__topic__content">
            <div class="APage__topic__image--search">
               <p class="APage__topic__title">見つける</p>
               <ul class="APage__topic__list">
                  <li class="APage__topic__item">検索から</li>
                  <li class="APage__topic__item">新着</br>おすすめから</li>
                  <li class="APage__topic__item">レビュー</br>評価から</li>
               </ul>
            </div>
         </div>
         <div class="APage__topic__content--even">
            <div class="APage__topic__image--read">
               <p class="APage__topic__title--even">読む</p>
               <ul class="APage__topic__list--even">
                  <li class="APage__topic__item--even">見つけた本を読む</li>
                  <li class="APage__topic__item--even">おもしろかった感想を書く</li>
                  <li class="APage__topic__item--even">評価をつける</li>
               </ul>
            </div>
         </div>
         <div class="APage__topic__content">
            <div class="APage__topic__image--use">
               <p class="APage__topic__title">使う</p>
               <ul class="APage__topic__list">
                  <li class="APage__topic__item">好きな本を</br>お気に入り登録する</li>
                  <li class="APage__topic__item">似ているユーザーを</br>登録する</li>
                  <li class="APage__topic__item">レビューを読む</li>
               </ul>
            </div>
         </div>
      </section>
      
      <section class="APage__guidance">
         <div class="APage__guidance__content">
            <p class="APage__guidance__text">
               さっそく使ってみる
               <%= link_to ">>", root_path, class: "APage__guidance__link" %>
            </p>
         </div>
      </section>
      
   </div> 
</div>
