.about
  .about__container

    .about__heading
      .about__heading__image
        %h2.about__heading__title
          About || \EE.Books/
        %p.about__heading__text
          ＼EE／.Booksはあなたにぴったりな１冊を見つけるお手伝いをさせていただくサイトです。
          %br
          好きな本に出会うきっかけになればと思います。

    .about__topic
      .about__topic__contents

        .about__topic__section
          .about__topic__searchImage
            %h1.about__topic__title
              見つける
            %ul.about__topic__list
              %li.about__topic__listItem.animation__slideRight
                検索から
              %li.about__topic__listItem.animation__slideRight
                新着
                %br
                おすすめから
              %li.about__topic__listItem.animation__slideRight
                レビュー
                %br
                評価から

        .about__topic__section
          .about__topic__readImage
            %h1.about__topic__title
              読む
            %ul.about__topic__list
              %li.about__topic__listItem.animation__slideLeft
                探して
                %br
                読んでみる
              %li.about__topic__listItem.animation__slideLeft
                レビューを
                %br
                書く
              %li.about__topic__listItem.animation__slideLeft
                評価を
                %br
                つける

        .about__topic__section
          .about__topic__useImage
            %h1.about__topic__title
              使う
            %ul.about__topic__list
              %li.about__topic__listItem.animation__slideRight
                読んだ本を
                %br
                登録する
              %li.about__topic__listItem.animation__slideRight
                気に入った人を
                %br
                フォローする
              %li.about__topic__listItem.animation__slideRight
                本について
                %br
                コメントし合う

= javascript_include_tag "about"


