<div class="TPage">
    <div class="TPage__container">
        
        <section class="TPage__MainVisual">
            <div class="MainVisual__content">
                <div class="MainVisual__left">
                    <h3 class="MainVisual__left__title">ようこそ＼EE／.Booksへ</h3>
                    <P class="MainVisual__left__text">レビューや評価を参考に</br>
                       あなたにぴったりな１冊を</br>
                       みつけるお手伝いをするサイトです
                    </P>
                </div>
                <div class="MainVisual__right">
                    <%= 
                </div>
            </div>

        </section>
    </div>
</div>
