.top
  .top__container
    .top__mainVisual
      .top__mainVisual__contents
        .top__mainVisual__image
          .top__mainVisual__imageItems
            %h1.top__mainVisual__title
              ようこそ\EE.Books/へ
            %p.top__mainVisual__text
              レビューや評価を参考に
              あなたにぴったりの一冊を
              %br
              見つけるお手伝いをするサイトです
              