<div class="TPage">
    <div class="TPage__container">
        
        <section class="TPage__MainVisual">
            <div class="MainVisual">
                <div class="MainVisual__left">
                    
                </div>
                <div class="MainVisual__right">
                </div>
                <div class="MainVisual__image">
                    <div class="MainVisual__content">
                        <h3 class="MainVisual__content__title">ようこそ＼EE／.Booksへ</h3>
                        <P class="MainVisual__content__text">レビューや評価を参考に</br>
                           あなたにぴったりな１冊を</br>
                           みつけるお手伝いをするサイトです
                        </P>
                    </div>
                </div>
            </div>

        </section>
        
        <section class="TPage__guidance">
            <div class="guidance">
            <p class="guidance__link">
                さっそく使ってみる＞
                <%= link_to "新規登録", root_path, class: "guidance__btn" %> 
            </p>
            <P class="guidance__link">
                登録済みのかたは＞
                 <%= link_to "ログイン", root_path, class: "guidance__btn" %>
            </P>
        </div>
        </section>
    </div>
</div>
