- if FavoriteBook.find_by(user_id: current_user.id, book_id: book.id)
  = link_to "読んだ #{book.favorite_books.count}", book_favorite_books_path(book), method: :delete, remote: true, class: "book__favorite" 
- else
  = link_to "読んだ #{book.favorite_books.count}", book_favorite_books_path(book), method: :post, remote: true, class: "book__favorite--none" 
