
<div class="AHTop__contents--other">
    
    <% if @reviews.blank? %>
    <div>
        <div class="AHTop__non--other">
            <h2>違反報告はありません</h2>
        </div>
    </div>
    
    <% else %>
    <table class="AHTop__table">
        <tr>
            <th class="AHTop__thread">コメント</th>
            <th class="AHTop__thread"></th>
            <th class="AHTop__thread"></th>
        </tr>
        
         <% @reviews.each do |review|%>
         <tr>
             <td class="AHTop__date"><p class="AHTop__text--name text-truncate"><%= review.comment %></p></td>
             <td class="AHTop__date"><%= link_to "詳細", admin_review_path(review), class: "AHTop__btn--show" %></td>
             <td class="AHTop__date"><%= link_to "削除", admin_review_path(review), method: :delete, class: "AHTop__btn--delete" %></td>
         </tr>
         <% end %>
    </table>
    <% end %>
</div>
                