.AHTop__contents--other
  - if @reviews.blank?
    %div
      .AHTop__non--other
        %h2 違反報告はありません
  - else
    %table.AHTop__table
      %tr
        %th.AHTop__thread コメント
        %th.AHTop__thread
        %th.AHTop__thread
      - @reviews.each do |review|
        %tr
          %td.AHTop__date
            %p.AHTop__text--name.text-truncate= review.comment
          %td.AHTop__date= link_to "詳細", admin_review_path(review), class: "AHTop__btn--show"
          %td.AHTop__date= link_to "削除", admin_review_path(review), method: :delete, class: "AHTop__btn--delete"
