@import '_color.scss';
@import '_flex.scss';

%page {
    background-color: $color-dark-green;
    @extend %center;
}

%container {
    height: 700px;
    width: 80%;
    background-color: $color-white;
    padding-top: 50px;
}

%heading {
    color: $color-white;
    background-color: $color-dark-green;
    margin: 0 50px;
    padding-left: 50px;
    margin-bottom: 30px;
}
%thread {
    height: 30px;
    color: $color-white;
    background-color: $color-green;
    text-align: center;
}

%tag {
    height: 30px;
    width: 150px;
    color: $color-white;
    background-color: $color-green;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
}

%btn {
    height: 30px;
    color: $color-white;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 10px;
    display: inline-block;
}

%form-btn {
    height: 30px;
    width: 100px;
    color: $color-white;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
}

