// Place all the styles related to the admin/classifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_color.scss';
@import '_flex.scss';
@import '_admin_template.scss';

.ACIndex {
    @extend %page;
    &__container {
        @extend %center;
        height: 1000px;
        width: 80%;
        background-color: $color-white;
        margin: 50px 0;
        padding-top: 50px;
    }
    &__content{
       
    }
    &__section {
    }
    &__section__heading {
        @extend %heading;
    }
    &__form {
       margin-bottom: 50px;
    }
    &__form__item {
        margin: 0 auto;
    }
    &__index {
        margin-left: 50px;
    }
    &__cell {
        height: 40px;
        width: 200px;
    }
    &__text {
        display: inline-block;
        height: 30px;
        width: 200px;
        color: $color-white;
        background-color: $color-green;
        line-height: 30px;
        text-align: center;
        border-radius: 15px;
    }
   
    %__btn {
    height: 30px;
    color: $color-white;
    }
    &__btn{
        @extend %__btn;
    background-color: $color-pastel-blue;
    border: none;
        &--change{
            @extend %__btn;
            background-color: $color-pastel-orange;
            border: none;
        }
        &--delete {
            @extend %__btn;
            background-color: $color-pastel-red;
            display: inline-block;
            line-height: 30px;
            text-decoration: none;
            padding: 0 5px;
        }
   }
    &__paginate {
        @extend %center;
        margin-top: 50px;
    }
   
}

