// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'color';
@import 'flex';
@import 'admin_template';

.AUserPage {
    @extend %page;
    &__container{
        @extend %container;
        margin: 50px auto;
        border: 10px solid $color-dark-green;
    }
}
.adminUserFrame {
    @extend %page;
    &__announce {
        @extend %row;
        width: 90%;
        height: 40px;
        background-color: $color-dark-green;
        text-align: left;
        margin: 0 auto 20px;
        &__link {
            @include btn(none, 40px);
            text-decoration: none !important;
            text-align: center;
            padding: 0 30px;
        }
        &__separate {
            font-size: 15px;
            height: 40px;
            color: $wt;
            line-height: 40px;
        }
    }
}

.adminUsers{
    &__container{
        @extend %container;
        margin: 50px auto;
        border: 10px solid $color-dark-green;
    }
    &__heading {
        @extend %heading;
    }
    &__table {
        margin: 0 auto;
    }
    &__thread {
        @extend %thread;
        width: 200px;
    }
    &__tag {
        height: 30px;
        line-height: 30px;
    }
    &__date {
        width: 30px;
        line-height: 30px;
        text-align: center;
    }
    &__btn {
        &--show {
            @extend %btn;
            background-color: $color-pastel-blue;
            margin-left: 20px;
        }
        &--delete {
            @extend %btn;
            background-color: $color-pastel-red;
        }
    }
    &__paginate {
        @extend %center;
        margin-top: 50px;
    }
}


.adminUser {
    &__container {
        @extend %container;
        margin: 50px auto;
        border: 10px solid $color-dark-green;
    }
    &__action {
        text-align: right;
        margin-right: 100px;
    }
    &__btn {
        @include btn($pastel-orange, 30px);
        padding: 0 30px;
        margin-top: 20px;
        margin-left: 170px;
    }
    &__contents {
        @extend %row;
        justify-content: center;
        background-color: rgba($dark-green, 0.5);
        width: 90%;
        padding: 50px 0;
        margin: 10px auto;
    }
    &__table {
        margin-top: 20px;
        margin-left: 20px;
    }
    &__tag {
        @extend %tag;
        width: 150px;
        height: 30px;
        line-height: 30px;
        margin: 5px;
    }
    &__date {
        width: 200px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
}


.AUEdit {
    &__container {
        @extend %row;
        justify-content: center;
        @extend %container;
        margin: 50px auto;
        border: 10px solid $color-dark-green;
    }
    &__image{
        width: 30%;
    }
    &__imageTag {
        width: 100%;
    }
    &__imageTag p {
        @extend %tag;
        display: block;
        margin: 10px auto 0;
    }
    &__table {
        margin-top: 20px;
        margin-left: 20px;
    }
    &__tag {
        @extend %tag;
        width: 150px;
        margin: 5px;
    }
    &__date {
        width: 200px;
        text-align: center;
    }
    &__action {
        text-align: center;
    }
    &__btn {
        @extend %form-btn;
        background-color: $color-pastel-orange;
        margin-top: 20px;
        margin-left: 170px;
    }
}
