// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import '_color.scss';
@import '_flex.scss';
@import '_admin_template.scss';

.AUserPage {
    @extend %page;
    &__container{
        @extend %container;
        margin: 50px 0;
    }
}

.AUIndex {
    &__heading {
        @extend %heading;
    }
    &__table {
        margin: 0 auto;
    }
    &__thread {
        @extend %thread;
        width: 200px;
    }
    &__date {
        text-align: center;
    }
    &__text {
        &--wide {
            width: 200px;
        }
    }
    &__btn {
        &--show {
            @extend %btn;
            background-color: $color-pastel-blue;
            margin-left: 20px;
        }
        &--delete {
            @extend %btn;
            background-color: $color-pastel-red;
        }
    }
    &__paginate {
        @extend %center;
        margin-top: 50px;
    }
}

.AUShow {
    &__action__return {
        text-align: left;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    &__btn__return {
        @extend %btn;
        width: 150px;
        background-color: $color-pastel-green;
        text-decoration: none !important;
        text-align: center;
    }
    &__heading {
        @extend %heading;
    }
    &__contents {
        @extend %row;
        justify-content: center;
    }
    &__table {
        margin-top: 20px;
        margin-left: 20px;
    }
    &__tag {
        @extend %tag;
        width: 150px;
    }
    &__date {
        width: 200px;
        text-align: center;
    }
    &__action {
        text-align: center;
    }
    &__btn {
        @extend %btn;
        background-color: $color-pastel-orange;
        margin-top: 20px;
        margin-left: 170px;
    }
}



.AUEdit {
    &__action__return {
        text-align: left;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    &__btn__return {
        @extend %btn;
        width: 150px;
        background-color: $color-pastel-green;
        text-decoration: none !important;
        text-align: center;
    }
    &__heading {
        @extend %heading;
    }
    &__contents {
        @extend %row;
        justify-content: center;
    }
    &__table {
        margin-top: 20px;
        margin-left: 20px;
    }
    &__tag {
        @extend %tag;
        width: 150px;
    }
    &__date {
        width: 200px;
        text-align: center;
    }
    &__action {
        text-align: center;
    }
    &__btn {
        @extend %form-btn;
        background-color: $color-pastel-orange;
        margin-top: 20px;
        margin-left: 170px;
    }
}
