$color-navy-blue: #001C40;

$color-pastel-blue: #6BB8FF;

$color-dark-blue: #125F80;

$color-blue: blue;

$color-white-blue: #4eb7d9;

$color-dark-green: #26806B;

$color-black-green: #1C6639;

$color-green: #00C200;

$color-smog-green: #1E9E19;

$color-light-green: #00E66F;

$color-pastel-green: #29E66B;

$color-white: #fff;

$color-pastel-red: #FF566F;

$color-pastel-pink: #EB44BC;

$color-pastel-orange: #FF8B42;

$color-pastel-gray: #93959E;

$color-pastel-yellow: #DBB50B;

$white: #fff;

$pastel-blue: #6BB8FF;

$pastel-red: #FF566F;





$textColor_main: white;

$tagColor_main: blue;

$backgroundColor_main: rgba(#6bb8ff, 0.5);

$main_color: blue;

$pastel_red: #FF566F;
$pastel_blue: #6bb8ff;
$light_yellow: #feffa8;
$pastel_yellow: #dbb50b;
$light_green: #4eb7d9;
$smoke_green: #125f80;
$white: #fff;
$bk: #000;

