$color-navy-blue: #001C40;

$color-pastel-blue: #6BB8FF;

$color-dark-blue: #125F80;

$color-white-blue: #4eb7d9;

$color-dark-green: #26806B;

$color-light-green: #00E66F;

$color-pastel-green: #1BFFA4;

$color-white: #fff;
