/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import '_color.scss';
@import '_flex.scss';
@import '_template.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Toppan Bunkyu Midashi Gothic","凸版文久見出しゴシック";
}

body {
    background-image: image-url("library.jpeg");
    background-attachment: fixed;
    background-color: rgba($wt,0.7);
    background-blend-mode: soft-light;
}

.pagination>li>a {          
  border: none;
  color: #696969;
}

.pagination>.active>a { 
    width: 40px;
    background-color: green;
    border-radius: 50%;
    margin: 0 10px;
}

.pagination>li>a:hover {        
  border-radius: 15px;
}


.AHeader {
    color: $color-white;
    &__container {
        height: 300px;
        background-color: $color-black-green;
        border-radius: 0 0 50% 50%;
        position: relative;
    }
    &__contents{
        @extend %row;
    }
    &__logo {
        margin: 40px 0 0 100px;
    }
     &__logo__text {
        color: $color-white;
        padding: 30px;
        text-decoration: none !important;
    }
}

.header {
    color: $color-white;
    &__container {
        height: 1000px;
        background-color: blue;
        border-radius: 0 0 50% 50%;
        position: relative;
    }
    &__contents {
        @extend %row;
    }
    &__logo {
        margin: 20px 0 0 100px;
    }
    &__logo__text {
        color: $color-white;
        text-decoration: none !important;
    }
    
}

.nav {
    position: absolute;
    top: 20px;
    right: 100px;
    &--admin {
        position: absolute;
        top: 20px;
        right: 100px;
    }
    &__bar {
        @extend %row;
        list-style: none;
        text-align: right;
        &--admin {
            @extend %row;
            list-style: none;
            text-align: right;
        }
    }
    &__item {
        color: $color-white;
        display: inline;
        margin-left: 10px;
        &--admin {
            background-color: green;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-left: 20px;
        }
    }
    &__link {
        color: $color-white;
        &--admin {
            color: $textColor_main;
            text-decoration: none !important;
            display: inline-block;
            width: 100px;
            text-align: center;
            padding: 35px 0;
        }
    }
}


.header {
    &__container {
        width: 100%;
        height: 300px;
        background-color: $main_color;
        border-radius: 0 0 50% 50%;
        position: relative;
    }
    &__logo {
        position: absolute;
        top: 50px;
        left: 50px;
    }
    &__logoLink {
        color: $textColor_main;
        text-decoration: none !important;
    }
    &__nav {
        position: absolute;
        top: 20px;
        right: 50px;
    }
    &__navList {
        list-style: none;
        @extend %row;
    }
    &__navItem {
        background-color: $pastel_blue;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 20px;
    }
    &__navLink {
        color: $textColor_main;
        text-decoration: none !important;
        display: inline-block;
        width: 100px;
        line-height: 100px;
        text-align: center;
    }
    &__search {
        display:inline-block;
        position: absolute;
        right: 100px;
        bottom: 100px;
    }
}


.headerTop{
    padding-top: 50px;
    &__contents {
        height: 700px;
        width: 80%;
        background: linear-gradient(to left, $main_color 70%, $pastel_blue 30%);
        margin: 0 auto;
        border: 25px solid $main_color;
        position: relative;
    }
    &__image {
        height: 500px;
        width: 80%;
        background-image: image-url("top_mainVisual.jpg");
        background-size: cover;
        position: absolute;
        top: 75px;
        left: 20%;
    }
    &__nav {
        position: absolute;
        top: 50px;
        left: 50px;
    }
    &__navItem {
        background-color: $main_color;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
        &--admin{
            @extend .headerTop__navItem;
            background-color: green;
        }
    }
    &__navlink {
        color: $textColor_main;
        text-decoration: none !important;
        display: inline-block;
        width: 100px;
        line-height: 100px;
        text-align: center;
    }
    &__scrollIcon {
        color: $textColor_main;
        position: absolute;
        left: 50%;
        bottom: -10px;
    }
}


.headerFixed {
    @mixin scrollHeader($bColor) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100px;
        background-color: $bColor;
        padding: 25px;
        @extend %row;
    }
    @mixin navItem($bColor) {
        height: 50px;
        width: 100px;
        margin-right: 20px;
        background-color: $bColor;
        text-align: center;
        padding: 15px 0;
    }
    &__admin {
        &__container{
            @include scrollHeader(green);
        }
        &__logo {
            margin-left: 50px;
            &--link {
                text-decoration: none !important;
            }
            &--text {
                color: $textColor_main;
            }
        }
        &__nav {
            margin: 0 auto;
        }
        &__navList {
            list-style: none;
            @extend %row;
            &__item {
                @include navItem($dark_green);
                &--link {
                    display: inline-block;
                    color: $textColor_main;
                    text-decoration: none !important;
                }
            }
        }
    }
    &__user {
        &__container {
            @include scrollHeader(rgba($main_color, 0.9));
        }
        &__logo {
            margin-left: 50px;
            &--link {
                text-decoration: none !important;
            }
            &--text {
                color: $textColor_main;
            }
        }
        &__nav {
            margin: 0 auto;
        }
        &__navList {
            list-style: none;
            @extend %row;
            &__item {
                height: 50px;
                width: 100px;
                margin-right: 20px;
                background-color: $pastel_blue;
                text-align: center;
                padding: 15px 0;
                &--link {
                    display: inline-block;
                    color: $textColor_main;
                    text-decoration: none !important;
                }
            }
        }
        &__search__form {
            margin: 10px 0;
            &--btn {
                padding: 0 10px;
            }
        }

    }
}

.hiddenHeader {
    display: none;
}




.ARPage {
    width: 80%;
    background-color: rgba($dark_green, 0.8);
    margin: 50px auto;
    &__container {
        @extend %center;
    }
    &__content{
        height: 600px;
        width: 60%;
        background-color: $color-white;
        margin: 50px 0;
        padding-top: 100px;
    }
    &__heading {
        color: $color-white;
        background-color: $color-dark-green;
        margin: 0 50px;
        padding-left: 50px;
    }
    &__form {
        margin-top: 50px;
        @extend %center;
    }
    &__form__name {
        height: 25px;
        width: 120px;
        color: $color-white;
        background-color: $color-light-green;
        text-align: center;
        border-radius: 15px;
    }
    &__form__TextBox {
        padding-bottom: 10px;
    
        &--input {
            padding-bottom: 5px;
        }
    }
}

.ASPage {
    width: 80%;
    background-color: rgba($dark_green, 0.8);
    margin: 50px auto;
    &__container {
        @extend %center;
    }
    &__content{
        height: 600px;
        width: 60%;
        background-color: $color-white;
        margin: 50px 0;
        padding-top: 100px;
    }
    &__heading {
        color: $color-white;
        background-color: $color-dark-green;
        margin: 0 50px;
        padding-left: 50px;
    }
    &__form {
        margin-top: 50px;
        @extend %center;
    }
    &__form__name {
        height: 25px;
        width: 120px;
        color: $color-white;
        background-color: $color-light-green;
        text-align: center;
        border-radius: 15px;
    }
    &__form__TextBox {
        padding-bottom: 10px;
    }
}

.btm{
    &__contents {
        height: 100px;
        color: $color-white;
        background-color: $color-blue;
        text-align: center;
        &--admin {
            height: 100px;
            color: $color-white;
            background-color: $color-black-green;
            text-align: center;
        }
    }
    &__text {
        line-height: 100px;
        &--admin {
            line-height: 100px;
        }
    }
}

.sign {
    &__container {
        @extend %backgroundMain;
        padding: 50px 0;
        margin: 50px auto;
    }
    &__contents{
        @extend %column;
        margin: 50px auto;
    }
    &__header {
        width: 100%;
        margin: 0 auto;
    }
    &__headerText {
        @extend %headerMain;
        width: 60%;
        margin: 0 auto;
    }
    &__form {
        @extend %center;
        background-color: $white;
        width: 60%;
        margin: 50px auto;
        padding: 50px 100px;
    }
    &__formItem:nth-child(even) {
        margin: 20px 0;
    }
    &__formTag {
        @extend %tagMain;
    }
    &__formAnnounce {
        display: block;
        font-size: 10px;
    }
    &__forgetPassword {
        text-decoration: none !important;
        display: block;
    }
    &__formBtn {
        @extend %submitBtn;
        margin-top: 20px;
    }
}

.formError {
  border: 2px solid red;
}

.error {
  display: inline-block;
  color: red;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
}

