<div class="BIndex__average__rate">
    <script>
    $('.BIndex__average__rate').empty();
    $('.BIndex__average__rate').raty({
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= rate %>
    });  
    </script>
</div>