<% if book.is_active == true %>
    <%= link_to "不備・違反を報告", book_path(book), method: :patch, remote: true, class: "BShow__violation" %>
<% else %>
    <p class="BShow__violation--none">報告確認中</p>
<% end %>
