.follower
  .follower__container
    .follower__heading
      %h2.follower__heading__text フォロー
    - if relationships.blank?
      .follower__pageText
        %h2 フォローしていません
    - else
      .follower__contents
        - relationships.each do |relationship|
          .follower__user
            .follower__userIcon
              = link_to user_path(relationship), class: "follower__userIcon__link" do
                = attachment_image_tag relationship, :image, :fill, 100, 100, fallback: "no_image.jpg",size: '100x100', class:"follower__userIcon__image"
            .follower__userData  
              %p.follower__userData__name= relationship.nick_name
              .follower__userData__introduce
              
                  
    -if relationships.length >= 5
      .follower__action
        = link_to user_followers_index_path(user), class:"follower__linkMore" do
          もっと見る
