.UShow__relationships--index
  .UShow__page__heading--index
    %h2 フォロー
  - if @relationships.blank?
    .UShow__page__contents--other
      %h2 フォローしていません
  - else
    .UShow__page__contents
      - @relationships.each do |relationship|
        .UShow__favorite-book
          .UShow__book-image
            %div
              = link_to user_path(relationship), class: "UShow__BookLink" do
                = attachment_image_tag relationship, :image, :fill, 200, 200, fallback: "no_image.jpg",size: '150x150'
          .UShow__book-data
            %table.UShow__book-info
              %tr
                %th.UShow__thread--book
                  %span.UShow__tag--book ニックネーム
                %td.UShow__date--book= relationship.nick_name
